.gnt-meta-checkbox {

    &__choice {
        margin-right: 8px;

        &--vertical {
            display: block;
            margin: 4px 0;
        }

        &:last-child {
            margin: 0;
        }
    }
}
