.giant-field

    &:first-of-type
        padding-top 6px
        border-top none

    &:last-of-type
        padding-bottom 0

    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="date"],
    input[type="time"],
    select,
    textarea
        box-sizing border-box
        width 100%

    textarea
        resize vertical

    .options label
        display block

    .hide
        display none

    &__label
        font-weight 600

    &__input
        margin-top 6px
