.giant-field

    &:first-of-type
        padding-top 6px
        border-top none

    &:last-of-type
        padding-bottom 0

    .label
        margin-bottom 10px

        label
            display block
            font-weight bold

        small
            font-size 92%
            color #777

    input[type="text"],
    input[type="email"],
    input[type="url"],
    input[type="password"],
    input[type="date"],
    input[type="time"],
    select,
    textarea
        box-sizing border-box
        width 100%

    textarea
        resize vertical

    .options label
        display block

    .hide
        display none

    &__input
        margin-top 6px
